.home{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.intro{
    max-width: 540px;
   text-align: center;

}
.home_img{
    margin-bottom: 1.5rem;

}
.home_name{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;

}
.home_socials{
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
}
.home_socials{
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
}

.home_social-link{
    color: var(--title-color);
    font-size: 1.3rem;
    transition: 0.3s;
}

.home_social-link:hover{
    color: hsl(43,100%,68%);
}
.scroll_down{
    position:absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;

}
.home_scroll-name{
    font-size: var(--small-font-size);
}
