.about_container{
    grid-template-columns:3fr 9fr;
    column-gap: 1.875rem;
}
.about_data{
        padding: 1.875rem;
        background-color: var(--container-color);
        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
        grid-template-columns: repeat(2,1fr);

        column-gap: 1.875rem;
        align-items: flex-start;
        position: relative;
}
.about_data::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;

}
.about_description{
    margin: 1rem;
    text-align: justify;

}
.about_skills{
    row-gap: 1.25rem;
}
.skills_titles{
    display: flex;
    justify-content: space-between;
}
.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-weight);
}
.skills_number{
    line-height: 1.2;
}

.skills_bar,.skills_percentage{
    height: 7px;
    border-radius: 0.25rem;
}


